body{
	font-family: Arial;
	font-size: 15pt;
	background-color:#FFFF; 
}
h1{
	text-align: center;
	color: #9F9F9F
}
img{
	width:300px;
	height:300px;
	border:5px solid #558336;
	border-radius:50%;
	cursor:hand;
	text-align:center;}
    img:hover{border:10px solid #2647ec; zoom: 200%;}
	h1:hover{color:blue;text-align:center;font-family: "Comic Sans MS";font-size:50pt;}
	h2{color:black;text-align:center;font-family: "Comic Sans MS"}
	p{color:black;text-align:justify;font-family: "arial"}
	p:hover{color:#558336;text-align:center;font-family: "Comic Sans MS";font-size:35pt;}
}